body{
    background-color: azure;
    display: block;
    justify-content: center;
    align-items: center;
    height: auto;
    border: red solid 5px;
    text-align: center;
}

img{
    border-radius: 120px;
    width: 100px;
    padding: 5px 0 0 0;
}
.perfil{
    font-size: 28px;
    color: rgb(185, 32, 32);
    font-weight: bold;
}
h1{
    font-size: 36px;
}